@media screen and (max-width:1280px) {
    main #skills .container {height: 1000px;}
    main #skills .container li {width: 45%;}
    main #project_web1 .container {flex-flow: column-reverse nowrap;}
    main #project_web1 .container .preview {width: 80%;}
}/* 1280px end */
@media screen and (max-width:1800px) {
    main #profile .container .info {height: 1500px;}
    main #profile .container .info li {width: 100%; margin-bottom: 40px;}
}/* 1800px end */
